<h1>Recommendations</h1>

<h2>Dev Team: Summer & Ryan</h2>

<h3>Top 10 Favorite Activities</h3>
<ul>
<li><%= link_to 'Coding', '/coding' %></li>
<li><%= link_to 'Surfing', '/surfing' %></li>
<li><%= link_to 'Snowboarding', '/snowboarding' %></li>
<li><%= link_to 'Hiking', '/hiking' %></li>
<li><%= link_to 'Traveling', '/traveling' %></li>
<li><%= link_to 'Drinking', '/drinking' %></li>
<li><%= link_to 'Dirtbiking/biking', '/biking' %></li>
<li><%= link_to 'Running', '/running' %></li>
<li><%= link_to 'Chefing', '/chefing' %></li>
<li><%= link_to 'Boogieing', '/boogieing' %></li>
</ul>


<h3>Cube a Number!</h3>